// Variables
$gray-base: #4c3e5a !default;
$gray-100:  #ece8f38c !default;
$gray-100:  #ebedef !default;

$gray-200:  #f7e7dc !default;
$gray-300:  #dfcdbf !default;
$gray-400:  #d4a47f !default;

$primary-base:  #3E3456 !default;
$secondary-base:  #ebb58c !default;
$secondary-50:    #ebb58c !default;

$successOp:  hsla(136, 71%, 36%, 0.185) ;
$success-base:  #1f6e3a !default;
$info-base:  #ac6c3b !default;
$warning-base:  #982b6e !default;
$danger-base:  #720404 !default;

